

/* Fuentes 
font-family: 'Lobster', cursive;
font-family: 'Handlee', cursive;
font-family: 'Audiowide', cursive;
font-family: 'Bad Script', cursive;
font-family: 'IM Fell French Canon SC', serif;
font-family: 'Satisfy', cursive;
font-family: 'Kalam', cursive;
font-family: 'Cookie', cursive;
font-family: 'Marck Script', cursive;
font-family: 'Boogaloo', cursive;
font-family: 'Monoton', cursive;
font-family: 'Arapey', serif;
font-family: 'Sigmar One', cursive;
font-family: 'Amaranth', sans-serif;
font-family: 'Rock Salt', cursive;
font-family: 'Mr Dafoe', cursive;
font-family: 'Oleo Script', cursive;
font-family: 'Aldrich', sans-serif;
font-family: 'Frijole', cursive;
font-family: 'Yesteryear', cursive;
font-family: 'Bungee Inline', cursive;
font-family: 'Racing Sans One', cursive;
font-family: 'Shojumaru', cursive;

*/

*{
	margin: 0;
	padding: 0;
}

body{

	background-color: #FFFFFF;
}


.Marco{
	align-content: center;
	width: 650px;
	height: 8in;
	position: absolute;
	top: 30px;
	left: 28%;

	border-radius: 15px;
	border-style: solid;
	border:none;
  	background: #1D447D;
	box-shadow: 10px 10px 10px 0px rgba(0,0,0,.5);
	margin-bottom: 50px;

}

.medio{
	align-content: center;
	width: 650px;
	height: 8.5in;
	position: absolute;
	top: 30px;
	left: 28%;
	color: #FFFFFF;
	border-radius: 15px;
	border-style: solid;
	border:none;
  	background: #1D447D;
	box-shadow: 10px 10px 10px 0px rgba(0,0,0,.5);
	margin-bottom: 50px;

}
.fin{
	
	position: absolute;
	top: 100px;
	left: 35px;
	width: 15in;
	border-radius: 5px 5px 15px 15px;
	border-style: solid;
	border:none;
    background: #1D447D;
    border: none;
	box-shadow: 10px 10px 10px 0px rgba(0,0,0,.5);
	margin-bottom: 50px;

}

.fin p{
	font-size: 20pt;
	color: #FFFFFF;
	padding-top: 65px;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 45px;

}

.final{
	width: 7.5in;
	height: 5in;
	position: absolute;
	top: 30px;
	left: 28%;

	border-radius: 15px;
	border-style: solid;
	border:none;
    background: #1D447D; 

	box-shadow: 10px 10px 10px 0px rgba(0,0,0,.5);
	margin-bottom: 50px;

}

.final p{
	font-size: 20pt;
	color: #FFFFFF;
	padding-top: 65px;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 45px;

}

.Gracias{
	font-family: 'Lobster', cursive;
}

.final b{

	font-family: 'Aldrich', sans-serif;



}
.fin img{

	width: 10in;
	height: 2in;
	border-radius: 15px;
}



.Finimg{
	position: relative;
	left: 90px;
	margin-bottom: 25px;
	width: 14in;
}

.fin h2{
	color: #FFFFFF;
	font-size: 20pt;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;

}

.fin table{
	width: 14in;
	color: #FFFFFF;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 5px;

	word-wrap: break-word;
	border-radius: 15px;
	font-size: 14pt;
	font-weight: bold;;
	text-indent: 5px;
	border-color: #FFFFFF;

}

.fin input{
	border-radius: 15px;
	height: 30px;
	width: 3in;
	color: #9C1462;
	font-size: 14pt;
	text-indent: 10px;
	margin-bottom: 30px;
	border: none;
}

.estado{
	border: none;
	border-radius: 15px;
	width: 1.5in;
	height: 0.3in;
	color: #9C1462;
	font-size: 14pt;
	font-weight: bold;
	margin-left: 15px;
	text-indent: 5px;
}

.login{

	width: 650px;
	height: 600px;
	position: absolute;
	top: 30px;
	left: 28%;
	
	border-radius: 15px;
	border-style: solid;
	border:none;

	/* 
	background: #262722; oscuro
	background: #131311; +oscuro
	*/
	background: #1D447D;
	

	box-shadow: 10px 10px 10px 0px rgba(0,0,0,.5);
	margin-bottom: 50px;
	color: #FFFFFF;

}

.login h1{
	margin-top: 15px;
	margin-bottom: 25px;
	
}

.login h2{
	margin-top: 15px;
	margin-bottom: 25px;
	
}

.mensaje{
	font-size: 14pt;
	width: 280px;
	border: none;
	border-radius: 15px;
	position: relative;
	left: 40%;
	


}
.medio h2{
	margin-top: 15px;
	padding-bottom: 10px;
}

.medio p{
	margin-top:15px;
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 20px;
	
}

.medio select{
	border-radius: 15px;
	margin-bottom: 15px;
	color: #9C1462;
	
	height: 0.3in;
	font-weight: bold;
	font-size: 12pt;

}

.medio option{
	margin-right: 15px;
	padding-left: 30px;
	font-weight: bold;
}
.medio input{
	border-radius: 15px;
	height: 30px;
	width: 3in;
	color: #9C1462;
	font-size: 14pt;
	text-indent: 10px;
	margin-bottom: 20px;
	font-weight: bold;
}

.medio textarea{
	text-indent: 10px;
	width: 6in;
	border-radius: 15px;
	color: #9C1462;
	margin-bottom: 15px;
	font-size: 12pt;
	font-weight: bold;
}



.centrol h3{
	margin-top: 5px;
	margin-bottom: 5px;
}
.centrol input{
	border-radius: 15px;
	margin-bottom: 50px;
	height: 30px;
	width: 2.5in;
	color: #9C1462;
	font-size: 14pt;
	text-indent: 10px;
}

.Marco h2{
	position: relative;
	top: 45px;
	margin-top: 20px;
	
	color: #FFFFFF;
}

.Marco h3{
	margin-top: 100px;
	margin-bottom: 50px;
	color: #FFFFFF;
}

.Marco p{
	color: #FFFFFF;
	margin-top: 20px;
	font-size: 20px;
}



.cuadro{
	padding: 2px;
	border-radius: 15px;
	margin-top: 5px;
	margin-bottom: 5px;
	height: 25px;

	width: 200px;

}



.boton{
	
	background: #FFFFFF;

	border-style: solid;
	
	border-radius: 15px;
	
	width: 280px;
	height: 35px;
	font-size: 14pt;
	font-weight: bold;
	color: #9C1462;

	

	
	margin-top: 5px;
	margin-bottom: 20px;
}



.boton2{
	


	background: #FFFFFF;

	border-style: solid;

	border-radius: 15px;
	
	width: 200px;
	height: 35px;

	color: #9C1462;
	font-size: 14pt;
	font-weight: bold;

	margin-top: 15px;
	margin-bottom: 10px;
}


.imgder{
	width: 155px;
	height: 120px;
	border-radius: 15px;
	position: absolute;
	right: 470px;
	top: 35px;
	box-shadow: 10px 10px 10px 0px rgba(0,0,0,.5);
}
.imgizq{
	width: 120px;
	height: 120px;
	position: relative;
	bottom: 40px;
	left: 240px;
	border-radius: 15px;
	box-shadow: 10px 10px 10px 0px rgba(0,0,0,.5);

}