*{
	margin: 0;
	padding: 0;
}

body{
	/*Color de fonde de toda la pagina */
	background-color: #FFFFFF;
}


.Marco{
	
	width: 80%;
	height: 800px;
	position: absolute;
	top: 50px;
	left: 20%;
	/*redondeo de las esquinas */
	border-radius: 15px;
	
	border:none;
	/* Color de Fondo */
	/*background: #008040;*/
	background: #1D447D;
	box-shadow: 10px 10px 10px 0px rgba(0,0,0,.5);


}

.Marco h2{
	
	position: relative;
	left: 36%;
	color: #FFFFFF;
}

.Marco h3{
	
	color: #FFFFFF;
}

.Marco p{
	color: #FFFFFF;
	position: relative;
	top: 10%;
	font-size: 20px;
}


.Marco select{
	border-radius: 8px;
}

.Marco input{
	border-radius: 8px;
}

.superior{
	top: 0px;
	
	position: relative;
	height:  100px;
	border-radius: 15px;
}



.superior p{
	position: relative;
	left: 10%;
}
.superior select{
   position: relative;
   right: 10%;
}




.cuadro{
	padding: 2px;
	border-radius: 15px;
	margin-top: 5px;
	margin-bottom: 5px;
	height: 25px;
	/*27 caracteres */
	width: 200px;
	/* */
}



.boton{
	/* color de fondo naranja
	background: #C74826;
	 */

	/*color de fondo */
	background: #FFFFFF;

	border-style: solid;
	/*redondeo de las esquinas */
	border-radius: 15px;
	/* ancho 
	   alto */
	width: 120px;
	height: 35px;
	/*color de la letra */
	color: #9C1462;

	/*font-style:  */
	margin-top: 15px;
	margin-bottom: 50px;
}

